.content-section {
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 110px;
    margin: 91px auto 92px auto;
}

.header__links-list {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: circle;
    font-size: 18px;
}

.header__links-list-item {
    margin-right: 33px;
    text-transform: lowercase;
}

.header__links-list-item a {
    text-decoration: none;
    border-bottom: 1px solid;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header_menu-item_active a {
    border: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    margin-right: 181px;
    margin-top: 1px;
}

.header__contacts {
    height: 100%;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
}

.header__contacts-phone {
    width: 133px;
    height: 24px;
    text-decoration: none;
    border-bottom: 1px solid;
}

.header__contacts-mail {
    width: 130px;
    height: 24px;
    text-decoration: none;
    border-bottom: 1px solid;
}

.header__contacts-address {
    font-style: normal;
}

#cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: 1440px 763.94px;
    width: 1440px;
    height: 757px;
    padding: 165px 50px 50px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.overlay {
    position: absolute;
    background-color: rgb(0, 0 , 0, .6);
    background-size: 1440px 763.94px;
    width: 1440px;
    height: 757px;
    top: 0;
    left: 0;
    z-index: -1;
}

.cover__title {
    width: 1340px;
    height: 355px;

    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;  
}

.aligned-text {
    display: block;
    line-height: 115%;
}

.aligned-text_center {
    display: block;
    margin: 20px 50px 11px 50px;
    text-align: center;
    line-height: 100%;
}

.aligned-text_right {
    display: block;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;  
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 1340px;
    align-items: center;
    justify-content: end;

    color: #FFF;
    text-transform: uppercase; 
}

.cover__description-text {
    line-height: 28px;
    font-weight: normal;
    margin-right: 78px;
    word-spacing: 18px;
    font-size: 22px;
}

.bet-button {
    width: 257px;
    height: 52px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase; 
}